
ion-button{--box-shadow:none;}
.texto{font-size:13px;}
.textbtnface{font-size:11px;background:rgb(0, 0, 0,0.0);color:rgb(37, 37, 37);}
.textbtngoogle{font-size:11px;background:rgb(0, 0, 0,0.0);color:rgb(37, 37, 37);}

.bar{
    font-size:18px;
    color:white;
    background-color: rgba(4, 156, 24, 0.5);
    padding:10px;
  }
.logo{
  width: auto;
  margin: auto;
  display: block;
  }
.show{display:inline;visibility: visible;}
.hidden{display:none;visibility:hidden;}
